# Import thư viện

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

# Nạp dữ liệu

In [2]:
df = pd.read_csv('data_dotquy.csv')
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

# Tiền xử lý dữ liệu

In [3]:
df.info()# Xem kiểu dữ liệu (Dtype) và số lượng giá trị không rỗng
df.head()
# Ta thấy cột BMI chỉ có 4909-> Bị thiếu

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [4]:
df.isnull().sum()
# Kiểm tra xem bị thiếu bao nhiêu dòng

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [5]:
df.duplicated().sum()
# Không có cái nào bị trùng lặp

np.int64(0)

In [6]:
df.describe(include='all') # Xem min, max, mean, median

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
count,5110.000000,5110,5110.000000,5110.000000,5110.000000,5110,5110,5110,5110.000000,4909.000000,5110,5110.000000
unique,NaN,3,NaN,NaN,NaN,2,5,2,NaN,NaN,4,NaN
top,NaN,Female,NaN,NaN,NaN,Yes,Private,Urban,NaN,NaN,never smoked,NaN
freq,NaN,2994,NaN,NaN,NaN,3353,2925,2596,NaN,NaN,1892,NaN
mean,36517.829354,NaN,43.226614,0.097456,0.054012,NaN,NaN,NaN,106.147677,28.893237,NaN,0.048728
std,21161.721625,NaN,22.612647,0.296607,0.226063,NaN,NaN,NaN,45.283560,7.854067,NaN,0.215320
min,67.000000,NaN,0.080000,0.000000,0.000000,NaN,NaN,NaN,55.120000,10.300000,NaN,0.000000
25%,17741.250000,NaN,25.000000,0.000000,0.000000,NaN,NaN,NaN,77.245000,23.500000,NaN,0.000000
50%,36932.000000,NaN,45.000000,0.000000,0.000000,NaN,NaN,NaN,91.885000,28.100000,NaN,0.000000
75%,54682.000000,NaN,61.000000,0.000000,0.000000,NaN,NaN,NaN,114.090000,33.100000,NaN,0.000000
max,72940.000000,NaN,82.000000,1.000000,1.000000,NaN,NaN,NaN,271.740000,97.600000,NaN,1.000000

In [7]:
for col in df.columns:
    print(f"--- Kiểm tra cột: {col} ---")
    print(df[col].value_counts())
    print("\n") # Xuống dòng cho dễ nhìn

--- Kiểm tra cột: id ---
id
44679    1
9046     1
51676    1
31112    1
60182    1
        ..
12109    1
60491    1
27419    1
10434    1
53882    1
Name: count, Length: 5110, dtype: int64


--- Kiểm tra cột: gender ---
gender
Female    2994
Male      2115
Other        1
Name: count, dtype: int64


--- Kiểm tra cột: age ---
age
78.00    102
57.00     95
52.00     90
54.00     87
51.00     86
        ...
1.40       3
0.48       3
0.16       3
0.08       2
0.40       2
Name: count, Length: 104, dtype: int64


--- Kiểm tra cột: hypertension ---
hypertension
0    4612
1     498
Name: count, dtype: int64


--- Kiểm tra cột: heart_disease ---
heart_disease
0    4834
1     276
Name: count, dtype: int64


--- Kiểm tra cột: ever_married ---
ever_married
Yes    3353
No     1757
Name: count, dtype: int64


--- Kiểm tra cột: work_type ---
work_type
Private          2925
Self-employed     819
children          687
Govt_job          657
Never_worked       22
Name: count, dtype: int64


--- Kiểm tra cột: Residence_type ---
Residence_type
Urban    2596
Rural    2514
Name: count, dtype: int64


--- Kiểm tra cột: avg_glucose_level ---
avg_glucose_level
93.88     6
73.00     5
72.49     5
91.85     5
91.68     5
         ..
61.98     1
91.01     1
120.03    1
138.51    1
118.41    1
Name: count, Length: 3979, dtype: int64


--- Kiểm tra cột: bmi ---
bmi
28.7    41
28.4    38
27.7    37
27.6    37
26.7    37
        ..
47.9     1
13.0     1
13.9     1
54.1     1
14.9     1
Name: count, Length: 418, dtype: int64


--- Kiểm tra cột: smoking_status ---
smoking_status
never smoked       1892
Unknown            1544
formerly smoked     885
smokes              789
Name: count, dtype: int64


--- Kiểm tra cột: stroke ---
stroke
0    4861
1     249
Name: count, dtype: int64

# Làm sạch dữ liệu

In [8]:
# Xóa cột id
df = df.drop(columns=['id'])
print(df)

      gender   age  hypertension  heart_disease ever_married      work_type  \
0       Male  67.0             0              1          Yes        Private
1     Female  61.0             0              0          Yes  Self-employed
2       Male  80.0             0              1          Yes        Private
3     Female  49.0             0              0          Yes        Private
4     Female  79.0             1              0          Yes  Self-employed
...      ...   ...           ...            ...          ...            ...
5105  Female  80.0             1              0          Yes        Private
5106  Female  81.0             0              0          Yes  Self-employed
5107  Female  35.0             0              0          Yes  Self-employed
5108    Male  51.0             0              0          Yes        Private
5109  Female  44.0             0              0          Yes       Govt_job

     Residence_type  avg_glucose_level   bmi   smoking_status  stroke
0             Urban             228.69  36.6  formerly smoked       1
1             Rural             202.21   NaN     never smoked       1
2             Rural             105.92  32.5     never smoked       1
3             Urban             171.23  34.4           smokes       1
4             Rural             174.12  24.0     never smoked       1
...             ...                ...   ...              ...     ...
5105          Urban              83.75   NaN     never smoked       0
5106          Urban             125.20  40.0     never smoked       0
5107          Rural              82.99  30.6     never smoked       0
5108          Rural             166.29  25.6  formerly smoked       0
5109          Urban              85.28  26.2          Unknown       0

[5110 rows x 11 columns]

In [9]:
# Xử lý BMI bị thiếu bằng hồi quy tuyến tính (Regression)

# Chọn các cột dùng để dự đoán BMI (Tuổi và Đường huyết)
feature_cols = ['age', 'avg_glucose_level'] 

# Tách dữ liệu thành 2 phần
data_known = df[df['bmi'].notnull()] # Dữ liệu đầy đủ (để train)
data_missing = df[df['bmi'].isnull()] # Dữ liệu bị thiếu (để điền)

# Tạo mô hình và huấn luyện
model = LinearRegression()

# X là các đặc trưng (age, glucose...), y là cái cần tìm (bmi)
X_train = data_known[feature_cols]
y_train = data_known['bmi']

model.fit(X_train, y_train)

# Dự đoán giá trị cho các ô bị thiếu
# Lấy các đặc trưng của những người bị thiếu BMI
X_missing = data_missing[feature_cols]

predicted_bmi = model.predict(X_missing)

# Điền giá trị dự đoán vào bảng gốc
# loc[hàng, cột] = giá trị mới
df.loc[df['bmi'].isnull(), 'bmi'] = predicted_bmi

# Kiểm tra lại
print(f"Số lượng giá trị thiếu sau khi dùng Linear Regression: {df['bmi'].isnull().sum()}")

Số lượng giá trị thiếu sau khi dùng Linear Regression: 0

In [10]:
# Xóa 1 cột giới tính khac nam, nữ (other) 
mask = df['gender'].isin(['Male', 'Female'])
df = df[mask]

In [11]:
# XỬ LÝ GIÁ TRỊ UNKNOW CỦA CỘT SMOKING_STATUS BẰNG KNN
df_temp = df.copy()

# Chuyển Gender thành số(Male=0, Female=1)
df_temp.loc[:, 'gender'] = df_temp['gender'].replace({'Female': 1, 'Male': 0})

# Chia dữ liệu thành Tập đã biết (Train) và Tập Unknown (Test)
cols_feature = ['age', 'bmi', 'gender', 'avg_glucose_level']
# Các cột dùng để đoán
train_data = df_temp[df_temp['smoking_status'] != 'Unknown']
test_data = df_temp[df_temp['smoking_status'] == 'Unknown']

# Huấn luyện KNN Classifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(train_data[cols_feature], train_data['smoking_status'])

# Dự đoán và điền vào
predicted_status = knn.predict(test_data[cols_feature])
df.loc[df['smoking_status'] == 'Unknown', 'smoking_status'] = predicted_status

C:\Users\HaiRuaLap\AppData\Local\Temp\ipykernel_9336\2705651590.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_temp.loc[:, 'gender'] = df_temp['gender'].replace({'Female': 1, 'Male': 0})

In [12]:
df['smoking_status'].value_counts()

smoking_status
never smoked       3096
formerly smoked    1153
smokes              860
Name: count, dtype: int64

Biến đổi dữ liệu

In [13]:
# Biến đổi Gender thành số(Male=0, Female=1)
df.loc[:, 'gender'] = df['gender'].replace({'Female': 1, 'Male': 0})
df

C:\Users\HaiRuaLap\AppData\Local\Temp\ipykernel_9336\3176332087.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.loc[:, 'gender'] = df['gender'].replace({'Female': 1, 'Male': 0})

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
1,1,61.0,0,0,Yes,Self-employed,Rural,202.21,32.603242,never smoked,1
2,0,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,1,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,1,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,1,80.0,1,0,Yes,Private,Urban,83.75,32.500627,never smoked,0
5106,1,81.0,0,0,Yes,Self-employed,Urban,125.20,40.000000,never smoked,0
5107,1,35.0,0,0,Yes,Self-employed,Rural,82.99,30.600000,never smoked,0
5108,0,51.0,0,0,Yes,Private,Rural,166.29,25.600000,formerly smoked,0
5109,1,44.0,0,0,Yes,Govt_job,Urban,85.28,26.200000,never smoked,0

In [14]:
# Biến đổi ever_married thành số(Male=0, Female=1)
df.loc[:, 'ever_married'] = df['ever_married'].replace({'Yes': 1, 'No': 0})
df

C:\Users\HaiRuaLap\AppData\Local\Temp\ipykernel_9336\1103379708.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.loc[:, 'ever_married'] = df['ever_married'].replace({'Yes': 1, 'No': 0})

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,67.0,0,1,1,Private,Urban,228.69,36.600000,formerly smoked,1
1,1,61.0,0,0,1,Self-employed,Rural,202.21,32.603242,never smoked,1
2,0,80.0,0,1,1,Private,Rural,105.92,32.500000,never smoked,1
3,1,49.0,0,0,1,Private,Urban,171.23,34.400000,smokes,1
4,1,79.0,1,0,1,Self-employed,Rural,174.12,24.000000,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,1,80.0,1,0,1,Private,Urban,83.75,32.500627,never smoked,0
5106,1,81.0,0,0,1,Self-employed,Urban,125.20,40.000000,never smoked,0
5107,1,35.0,0,0,1,Self-employed,Rural,82.99,30.600000,never smoked,0
5108,0,51.0,0,0,1,Private,Rural,166.29,25.600000,formerly smoked,0
5109,1,44.0,0,0,1,Govt_job,Urban,85.28,26.200000,never smoked,0

In [15]:
#Biến đổi work_type thành số
df.loc[:, 'work_type'] = df['work_type'].replace({'Govt_job': 0, 'Never_worked': 1,'Private': 2, 'Self-employed': 3,'children': 4})
df['work_type'].value_counts()

C:\Users\HaiRuaLap\AppData\Local\Temp\ipykernel_9336\1217081569.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.loc[:, 'work_type'] = df['work_type'].replace({'Govt_job': 0, 'Never_worked': 1,'Private': 2, 'Self-employed': 3,'children': 4})

work_type
2    2924
3     819
4     687
0     657
1      22
Name: count, dtype: int64

In [16]:
#Biến đổi Residence_type thành số
df.loc[:, 'Residence_type'] = df['Residence_type'].replace({'Urban': 0, 'Rural': 1})
df['Residence_type'].value_counts()

C:\Users\HaiRuaLap\AppData\Local\Temp\ipykernel_9336\2019174833.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.loc[:, 'Residence_type'] = df['Residence_type'].replace({'Urban': 0, 'Rural': 1})

Residence_type
0    2596
1    2513
Name: count, dtype: int64

In [17]:
#Biến đổi smoking_status thành số
df.loc[:, 'smoking_status'] = df['smoking_status'].replace({'never smoked': 0, 'formerly smoked': 1, 'smokes': 2})
df['smoking_status'].value_counts()

C:\Users\HaiRuaLap\AppData\Local\Temp\ipykernel_9336\2513855384.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.loc[:, 'smoking_status'] = df['smoking_status'].replace({'never smoked': 0, 'formerly smoked': 1, 'smokes': 2})

smoking_status
0    3096
1    1153
2     860
Name: count, dtype: int64

Chuẩn hóa dữ liệu

In [18]:
# Chuẩn hóa age 

scaler = MinMaxScaler()

# Thực hiện chuẩn hóa
df['age'] = scaler.fit_transform(df[['age']])

# Kiểm tra kết quả
print("Min:", df['age'].min())
print("Max:", df['age'].max())
print(df[['age']].head())

Min: 0.0
Max: 1.0
        age
0  0.816895
1  0.743652
2  0.975586
3  0.597168
4  0.963379

In [19]:
# Chuẩn hóa avg_glucose_level

scaler = MinMaxScaler()

# Thực hiện chuẩn hóa
df['avg_glucose_level'] = scaler.fit_transform(df[['avg_glucose_level']])

# Kiểm tra kết quả
print("Min:", df['avg_glucose_level'].min())
print("Max:", df['avg_glucose_level'].max())
print(df[['avg_glucose_level']].head())

Min: 0.0
Max: 1.0
   avg_glucose_level
0           0.801265
1           0.679023
2           0.234512
3           0.536008
4           0.549349

In [20]:
# Chuẩn hóa bmi

scaler = MinMaxScaler()

# Thực hiện chuẩn hóa
df['bmi'] = scaler.fit_transform(df[['bmi']])

# Kiểm tra kết quả
print("Min:", df['bmi'].min())
print("Max:", df['bmi'].max())
print(df[['bmi']].head())

Min: 0.0
Max: 1.0
        bmi
0  0.301260
1  0.255478
2  0.254296
3  0.276060
4  0.156930

In [21]:
# Chuẩn hóa work_type

scaler = MinMaxScaler()

# Thực hiện chuẩn hóa
df['work_type'] = scaler.fit_transform(df[['work_type']])

# Kiểm tra kết quả
print("Min:", df['bmi'].min())
print("Max:", df['bmi'].max())
print(df[['work_type']].head())

Min: 0.0
Max: 1.0
   work_type
0       0.50
1       0.75
2       0.50
3       0.50
4       0.75

In [22]:
# Chuẩn hóa smoking_status

scaler = MinMaxScaler()

# Thực hiện chuẩn hóa
df['smoking_status'] = scaler.fit_transform(df[['smoking_status']])

# Kiểm tra kết quả
print("Min:", df['bmi'].min())
print("Max:", df['bmi'].max())
print(df[['smoking_status']].head())
df

Min: 0.0
Max: 1.0
   smoking_status
0             0.5
1             0.0
2             0.0
3             1.0
4             0.0

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,0.816895,0,1,1,0.50,0,0.801265,0.301260,0.5,1
1,1,0.743652,0,0,1,0.75,1,0.679023,0.255478,0.0,1
2,0,0.975586,0,1,1,0.50,1,0.234512,0.254296,0.0,1
3,1,0.597168,0,0,1,0.50,0,0.536008,0.276060,1.0,1
4,1,0.963379,1,0,1,0.75,1,0.549349,0.156930,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,1,0.975586,1,0,1,0.50,0,0.132167,0.254303,0.0,0
5106,1,0.987793,0,0,1,0.75,0,0.323516,0.340206,0.0,0
5107,1,0.426270,0,0,1,0.75,1,0.128658,0.232532,0.0,0
5108,0,0.621582,0,0,1,0.50,1,0.513203,0.175258,0.5,0
5109,1,0.536133,0,0,1,0.00,0,0.139230,0.182131,0.0,0